html {
    scroll-behavior: smooth;
}


.container {
    max-width: 1440px;
    min-height: 2940px;
    margin: 0 auto;
    border: 1px solid red;
    font-family: $font;
    position: relative;
}

.rectangle {
    background-image: url("../assets/Rectangle.svg");
    background-position-x: 0;
    background-position-y: 475px;
    background-repeat: no-repeat;
}

.rectangle2 {
    background-image: url("../assets/Rectangle2.png");
    background-position-x: right;
    background-position-y: 1873px;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
  
}

