// fonts 

$font: 'Jost', sans-serif;

// colors

$peach: #E7816B;
$lightPeach: #ffad9b;
$black: #1D1C1E;
$white: #fff;
$lightGrey: #F1F3F5;
$darkGrey: #333136;

// font sizes

$regular: 16px;
$h1: 48px;
$h2: 40px;
$h3: 20px;

// font weights 

$medium: 700;