.footer {
    background-color: $black;
    height: 393px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: $white;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding-top: 40px;
   
    &__info {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       color: $white;
     
       font-size: 16px;
       line-height: 26px;
    }

    &__address, &__media, &__contact {
        display: flex;
        flex-direction: column;
    }

    &__address {
        padding-left: 165px;
        font-weight: normal;
        opacity: .5;
       
        &--name {
            font-weight: bold;
        }
    }

    &__contact {
        font-weight: bold;    
        opacity: .5; 
    }

    &__media {
       display: flex;
       flex-direction: row;
       align-items: flex-end;
       padding-right: 165px;
       opacity: 1;

       &--item {
           margin-left: 16px;
           cursor: pointer;
          

           &:hover {
               opacity: .5;
           }
       }
    }
}

.foobar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    &__header {
        display: flex; 
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 165px;
    }

    &__logo {
       margin-right: 16px;
    }
}

.nav {
    padding-right: 165px;
}

.line {
    height: 1px;
    width: 1111px;
    margin: 40px auto 31px;
    background-color: $white;
    opacity: .1;  
}

@media all and (max-width: 1177px) {
    .footer {
        padding-top: 80px;
    }

    .line {
        display: none;
    }

    .footer__info {
        margin-top: 40px;
    }
}

@media all and (max-width: 974px) {
    .foobar .nav, .footer__media {
        padding-right: 65px;
    }

    .foobar__header, .footer__address {
        padding-left: 65px;
    }

    .invite {
        margin-left: 65px;
        margin-right: 65px;
    }
}

@media all and (max-width: 776px) {
    .foobar {
        flex-direction: column;
        justify-content: center;
       
    }

    .footer__info {
        flex-direction: column;
    }
}