.invite {
    background-color: $peach;
    height: 292px;
    margin-left: 165px;
    margin-right: 165px;
    border-radius: 15px;
    // position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/grupaOval.png');
    background-position: top right;
    background-repeat: no-repeat;
    padding-left: 95px;
    padding-right: 95px;

    position: absolute;
    top: -372px;
    left: 0;
    right: 0;

    &__text {
       display: flex;
       flex-direction: column;
       color: #fff;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        width: 268px;
    }

    &__info {
        font-weight: normal;
        width: 459px;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
    }

    &__btn {
       @include typicalBtn;
    }
}

.invite__mini {
    background-color: $peach;
    height: 379px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 15px;
    position: absolute;
    top: -190px;
    min-width: 327px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media all and (max-width: 1177px) {
    .invite {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 350px;
        background-size: cover;
        top: -400px;

        &__text {
            align-items: center;
            justify-content: center;
        }

        &__btn {
            margin-top: 32px;
        }
    }
}

@media all and (min-width: 776px) {

    .invite {
        display: none
    }
}

@media all and (max-width: 551px) {
    .invite__info {
        width: 279px;
    }

    .invite__title {
        font-size: 35px;
    }
}

@media all and (max-width: 381px) {
    .invite__mini {
        min-width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
} 