.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 64px 164px 65px 165px;
    color: $darkGrey;

    &__header {
        display: flex; 
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__logo {
        margin-right: 18.7px;
    }

}

.nav {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        text-transform: uppercase;
        font-size: 14px;
        margin-left: 42px;
        letter-spacing: 2px;
    }

    &__link {
        cursor: pointer;

        &:hover {
            text-decoration-line: underline;
        }
    }
}

.hamburger {

    &__btn {
        display: none;
    }

    &__btn {
        border: none;
        background-color: transparent; 

            &:focus {
                outline: none;
            }
        }
}

.close {

    &__btn {
        display: none;
    }

    &__btn {
        border: none;
        background-color: transparent; 

            &:focus {
                outline: none;
            }
        }
}

.mobile {
    background-color: $black;
    color: $white;
    width: 100%;
    animation-name: example;
    animation-duration: 1.5s;
    position: absolute;
    z-index: 255;

    &__list {
       padding: 48px 24px;
    }

    &__item {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 2px;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        cursor: pointer;
    }
}

@keyframes example {
    from {opacity: 0}
    to {opacity: 1}
  }


@media all and (max-width: 1024px) {
    .navbar {
        margin-right: 40px;
        margin-left: 39px;
    }

    .navbar .nav {
        padding-right: 0;
    }
}

// @media all and (max-width: 779) {
  
// }

@media all and (max-width: 691px) {
    .nav {
        display: none;
    }
    .hamburger {
        &__btn {
            display: block;
        }
    }
}

@media all and(max-width: 425px) {
    .navbar {
        margin: 35px 24px 34px 24px; 
    }
}