.values {
    margin: 160px auto 0;
    max-width: 1112px;
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.value {
    &__img {
        background-image: url('../../assets/minioval.png');
        background-repeat: no-repeat;
    }

    &__title {
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 48px 0 32px;
        color: $darkGrey;
        font-size: 20px;
    }

    &__text {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.6;
    }

    &:nth-child(2) {
        margin-left: 30px;
        margin-right: 30px; 
    }

    &:first-child {
        margin-left: 30px;
    }

    &:last-child {
        margin-right: 30px;
    }
}

@media all and (max-width: 1200px) {
    .values {
        // height: 1140px;
        margin-bottom: 260px;
    }
}

@media all and (max-width: 776px) {
    .values {
        height: 640px;
    }
}

@media all and (max-width: 760px) {

    .values {
        flex-direction: column;
        text-align: left;
        margin-top: 120px;
        height: 770px;
    }

    .value {
        display: flex;
        flex-direction: row;
        margin-left: 39px;
        margin-right: 40px;

        &__img {
            margin-right: 48px;
        }

        &:nth-child(2) {
            margin-top: 32px;
            margin-bottom: 32px; 
        }
    }
}

@media all and (max-width: 591px) {
    .values {
        height: 690px;
    }

    .value {
        &:first-child, &:last-child, &:nth-child(2) {
            margin-left: 10px;
            margin-right: 10px;
        }

        &:nth-child(2) {
            margin-top: 20px;
            margin-bottom: 20px; 
        }

        &__title {
            font-size: 15px;
        }

        &__text {
            font-size: 12px;
        }

        &__img {
            margin-right: 24px;
        }
    }
}

@media all and (max-width: 425px) {
    .value {
        &__img {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
    }
}